:root {
        --keycloak-bg-logo-url: url('../img/bgimageundefined');
        --keycloak-logo-url: url('../img/logo.png');
        --keycloak-logo-height: 63px;
        --keycloak-logo-width: 300px;
        
      }
      .pf-v5-theme-dark {
        --pf-v5-global--FontFamily--text: "Poppins";
--pf-v5-global--danger-color--100: #AC1B44;
--pf-v5-global--success-color--100: #0E5910;
--pf-v5-global--active-color--100: #1fa7f8;
--pf-v5-global--primary-color--300: #00ACE9;
--pf-v5-global--primary-color--200: #078BB9;
--pf-v5-global--primary-color--100: #00ACE9;
--pf-v5-global--link--Color: #00ACE9;
--pf-v5-global--link--Color--hover: #078BB9;
--pf-v5-global--BackgroundColor--light-100: #1b1d21;
--pf-v5-global--BackgroundColor--300: #1b1d21;
--pf-v5-global--BackgroundColor--100: #1b1d21;
--pf-v5-global--palette--black-1000: #1b1d21;
--pf-v5-global--Color--light-200: #f0f0f0;
--pf-v5-global--Color--100: #e0e0e0;
--pf-v5-global--Color--light-100: #e0e0e0;
--pf-v5-global--BackgroundColor--400: #314055;
--pf-v5-global--Color--dark-100: #e0e0e0;
      }
      